ai1wm-backups
fonts
languages
plugins/acf-for-woocommerce
plugins/advanced-custom-fields-pro
plugins/akismet
plugins/all-in-one-wp-migration
plugins/all-in-one-wp-migration-unlimited-extension
plugins/woocommerce
plugins/woocommerce-master
plugins/index.php
upgrade/
uploads/
themes/hello-elementor
themes/twentytwentyone
themes/twentytwentythree
themes/twentytwentytwo
themes/index.php
classic-editor
duplicate-post
.DS_Store
/themes/.DS_Store
/plugins/all-in-one-wp-migration/.DS_Store
/plugins/all-in-one-wp-migration-unlimited-extension/.DS_Store
/plugins/.DS_Store
/.gitignore
/.DS_Store
