ai1wm-backups/
languages/
plugins/
plugins/acf-for-woocommerce/
plugins/advanced-custom-fields-pro/
plugins/akismet/
plugins/index.php
upgrade/
uploads/
maintenance/
languages/
themes/hello-elementor/
themes/twentytwentyone/
themes/twentytwentythree/
themes/twentytwentyfour/
themes/twentytwentytwo/
themes/index.php
.DS_Store
themes/.DS_Store
plugins/all-in-one-wp-migration/.DS_Store
plugins/all-in-one-wp-migration-unlimited-extension/.DS_Store
plugins/.DS_Store
.gitignore
.DS_Store