.section2.JodRequests{
    padding-bottom: 2.6rem;
    padding-top: 1rem;
}
.section2.JodRequests .title{
    font-size: 2.3rem;
    line-height: 1.2rem;
}
.JodRequests{
    padding-top: 1.1rem
}
.JodRequests-container{
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}
.JodRequests-options{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
}
.JodRequests-btn{
    border: 2px solid #59ab9f;
    background-color: #e1edeb;
    padding: 0.65rem 1.4rem;
    border-radius: 3rem;
}
.JodRequests-textBtn{
    font-family: "Century Gothic";
    color: #575550;
    line-height: 24px;
    font-weight: 700;
    font-size: 1.1rem;
}
.JodRequests-card{
    box-shadow: 3px 3px 11.63px 2.38px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
}
.JodRequests-cardHeader{
    display: flex;
    justify-content: left;
    padding: 1rem;
    align-items: center;
    background-color:  #e2eeec;

}
.JodRequests-cardProfile{
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}
.JodRequests-service{
    font-size: 1.1rem;
    color: #5aab9f;
font-weight: 400;
font-family: "Open Sans";
text-align: left;
margin-bottom: 0;
}
.JodRequests-name{
font-size: 0.9rem;
color: #575550;
font-weight: 300;
font-family: "Open Sans";
text-align: left;
margin-bottom: 0;
}
.JodRequests-cardList{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.JodRequests-cardBody{
    padding: 1.1rem 1.6rem;
}
.JodRequests-cardItem{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
    line-height: 24px;
    color: #575550;
    font-weight: 400;
    font-family: "Open Sans";
    margin-bottom: 0.6rem;
    span{
        margin-left: 0.5rem;
    }
}
.JodRequests-balance{
    text-align: right;
    font-size: 1.8rem;
    line-height: 24px;
    color: #575550;
    font-weight: bold;
    font-family: "Century Gothic";
}
.JodRequests-sing{
    font-size: 1rem;
    font-family: "Open Sans";
}
.JodRequests-titleBtn{
font-size: 16px;
color: #d4d4d4;
font-weight: 400;
font-family: "Open Sans";
font-size: 1.1rem;
text-align: left;
}
.JodRequests-btnContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.JodRequests-deny{
    border: 0;
    border-radius: 22px;
    background-color: #ef4047;
    padding: 0.8rem 2.5rem;
    span{
        font-size: 1.2rem;
        line-height: 24px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Century Gothic";
        text-align: center;
    }
}
.JodRequests-accept{
    border: 0;
    border-radius: 22px;
    background-color: #59ab9f;
    padding: 0.8rem 2.5rem;

    span{
        font-size: 1.2rem;
        line-height: 24px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Century Gothic";
        text-align: center;
    }
}
.JodRequests-help{
    text-decoration: none;
    padding: 1.3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #575550;
    font-family: "Century Gothic";
    text-align: center;
    span{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}
.JodRequests-details{
    text-decoration: none;
    padding: 1.3rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #575550;
    font-family: "Century Gothic";
    text-align: center;
    span{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
}
.JodRequests-details:hover{
    color: #575550;
}
.JodRequests-help:hover{
    color: #575550;

}
.JodRequests-iconArrow{
    width: 0.5rem;
    height: auto;
    transform: rotate(0deg);
}
.JodRequests-about{
    margin-top: 1rem;
    width: 22rem;
    margin-left: auto;
    text-align: center;
}
