.EliminarCuenta{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #575550;
    text-align: center;
}
.EliminarCuenta-container{
    display: flex;
    flex-direction: column;
    border-radius: 1.7rem;
    box-shadow: 3px 3px 11.63px 2.38px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 3rem 1rem;
}
.EliminarCuenta-title{
    font-family: "Century Gothic";
    font-weight: 700;
    width: 15rem;
    margin: 0 auto;
    margin-bottom: 1.2rem;
}
.EliminarCuenta-text{
    font-family: "Open Sans";
    color: #575550;
    line-height: 28px;
    font-weight: 500;
    width: 17rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.EliminarCuenta-btn{
    background-color: #5aab9f;
    width: fit-content;
    border: 0;
    border-radius: 2rem;
    padding: 0.8rem 1.2rem;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: "Century Gothic";
    margin: 0 auto;
    margin-top: 3rem;
}
.EliminarCuenta-delete{
    background-color: #fff;
    width: fit-content;
    border: 2px solid #5aab9f;
    border-radius: 2rem;
    padding: 0.8rem 1.2rem;
    color: #575550;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: "Century Gothic";
    margin: 0 auto;
    margin-top: 1rem;
}