.myOffers .cards-item-content{
    margin-bottom: 35px;
}
.myOffers .cards-title{
    font-weight: 600;
}
.myOffers .cards-header-title{
    font-size: 1.2rem;
}
.myOffers .cards-header-qty{
    font-family: 'Open Sans';
    font-size: 0.56rem;
}
.myOffers .cards-header-time{
    font-family: 'Open Sans';
}
.myOffers .cards-item-texts .name{
    font-size: 1.3rem;
}
.myOffers .cards-item-content .duration{
    margin-bottom: 0.6rem;
}
.myOffers .cards-item-imgIcon{
    height: 25px;
    width: 25px;
}
.myOffers .cards-item-texts .rate{
    font-size: 1.1rem;
    font-weight: 600;
}
.myOffers .cards-item-content .price span{
    letter-spacing: normal;
}
.myOffers .cards-item-content .price span{
    font-family: 'Open Sans';
    font-weight: 600;
    margin-left: 5px;
}
